body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background: $cinza-1 !important;
    line-height: 17px !important;
}
.btn {
    background-color: $azul-1;
    &:hover {
        
    }
    &.modificar {
        background-color: white;
        border-color: $cinza-5;
    }
}
a,
button {
    transition: all .3s;
    &:hover {
        transition: all .3s;
    }
}
a {
    &.hability {
        width: 64px;
        height: 28px;
        background-image: url(../../images/habilitar.png);
        background-size: cover;
        background-position: center;
        display: block;
        &:target {
            background-image: url(../../images/desabilitar.png);
        }
    }
}
table {
    &.list {
        border-radius: 10px;
        overflow: hidden;
        thead {
            color: $cinza-3;
        }
        .form-row {
            max-width: 75%;
            margin: 0 auto;
        }
    }
}
.perfil-pic {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}
.ativo {
    background-color: $verde-1;
    color: $verde-2;
}
.inativo {
    background-color: $vermelho-1;
    color: $vermelho-2;
}
form {
    &.form-1 {
        //max-width: 75%;
        //margin: 0 auto;
    }
}