@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background: #E5E7EB !important;
  line-height: 17px !important; }

.btn {
  background-color: #4f46e5; }
  .btn.modificar {
    background-color: white;
    border-color: #ced4da; }

a,
button {
  transition: all .3s; }
  a:hover,
  button:hover {
    transition: all .3s; }

a.hability {
  width: 64px;
  height: 28px;
  background-image: url(../../images/habilitar.png);
  background-size: cover;
  background-position: center;
  display: block; }
  a.hability:target {
    background-image: url(../../images/desabilitar.png); }

table.list {
  border-radius: 10px;
  overflow: hidden; }
  table.list thead {
    color: #9DA6B7; }
  table.list .form-row {
    max-width: 75%;
    margin: 0 auto; }

.perfil-pic {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 100%; }

.ativo {
  background-color: #d1fae5;
  color: #065f46; }

.inativo {
  background-color: #ffe2e3;
  color: #991b1b; }

@media screen and (max-width: 767px) {
  header {
    padding: 0; }
    header .topo #menu {
      padding: 15px 0; }
      header .topo #menu button.navbar-toggler {
        background: url(../../images/bt-toggler.png) center center no-repeat; }
      header .topo #menu .container .navbar-collapse.show {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: #4f46e5; }
        header .topo #menu .container .navbar-collapse.show ul {
          text-align: center;
          padding: 120px 0 0; }
          header .topo #menu .container .navbar-collapse.show ul li {
            display: block;
            clear: both;
            padding: 15px; }
    header .topicos {
      display: none; }
  .carousel.slide .carrossel {
    margin: 50px 0 0;
    max-height: inherit; }
  .about .imagem img {
    width: 100%;
    margin: 0 0 20px; } }
